body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

#header {
    background-color: rgba(0,0,0,0.03);
    justify-self: stretch;
    align-self: flex-start;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

button {
    border: none;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 50%;
    border-radius: 24px;
    cursor: pointer;
    border: 2px solid black;
    box-shadow: 5px 5px 0px 0px black;
    transition: box-shadow 0.1s;
    background-color: rgba(0,0,0,0.03);
}

button:disabled {
    opacity: 30%;
    cursor: not-allowed;
}

#btn-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Rampart One";
    font-size: 56px;
    font-weight: 400;
    text-align: center;
}

#btn-paper {
    background-image: url(images/paper.png);
}

#btn-rock {
    background-image: url(images/rock.png);
}

#btn-scissors {
    background-image: url(images/scissors.png);
}

.button-clicked {
    box-shadow: 2px 2px 0px 0px black;
    background-color: white;
}