button {
    border: 1px solid black;
    padding: 24px;
    width: 200px;
    height: 200px;
    flex-grow: 1;
}

#btn-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

#container {
    padding: 24px;
}